.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;

  cursor: pointer;
}

.row .activated {
  transform: translateY(-14px) scale(0.8) !important;
  transform-origin: 0 0;
}
